<div class="base-timer">
    <svg class="base-timer__svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
      <g class="base-timer__circle">
        <circle class="base-timer__path-elapsed" cx="50" cy="50" r="45"></circle>
        <path
          id="base-timer-path-remaining"
          stroke-dasharray="283"
          class="base-timer__path-remaining green"
          d="
            M 50, 50
            m -45, 0
            a 45,45 0 1,0 90,0
            a 45,45 0 1,0 -90,0
          "
        ></path>
      </g>
    </svg>
    <span *ngIf="!done" id="base-timer-label" class="base-timer__label">
      {{ formatTimeLeft(this.timeLeft) }}
    </span>
    <span *ngIf="done" class="base-timer__label">
        Done!
    </span>
</div>

<button *ngIf="done || first" mat-button (click)="startTimer()">Start!</button>
<button *ngIf="!done && !pause && !first" mat-button (click)="pauseTimer()">Pause</button>
<button *ngIf="!done && pause && !first" mat-button (click)="resumeTimer()">Resume</button>

<!-- <button mat-button (click)="createWorkout()">create a Workout</button> -->
<button mat-button (click)="saveWorkout()">Save</button>

<div *ngIf="progress">  
  <mat-expansion-panel *ngFor="let exercise of workout">
    <mat-expansion-panel-header>
      {{exercise.Workout}}
    </mat-expansion-panel-header>
    <div *ngIf="exercise.Demonstration_1" class="img-thumbnail">
      <img [src]="exercise.Demonstration_1">
    </div>
    <div *ngIf="exercise.Demonstration_2" class="img-thumbnail">
      <img [src]="exercise.Demonstration_2">
    </div>
    <div *ngIf="exercise.Demonstration_3" class="img-thumbnail">
      <img [src]="exercise.Demonstration_3">
    </div>
    Main: {{exercise.Main}} <br>
    <div *ngIf="exercise.Detailed">
      Detailed: {{exercise.Detailed}} <br>
    </div>
    Equipment: {{exercise.Equipment}} <br>
    Difficulty: {{exercise.Difficulty}} <br>
    Mechanic: {{exercise.Mechanic}} <br>
    Type: {{exercise.Type}} <br>
    Instructions: {{exercise.Instructions}} <br>
  </mat-expansion-panel>
</div>

<div *ngIf="!progress">
  <div class="example-action-buttons">
    <button mat-button (click)="accordion.openAll()">Expand All</button>
    <button mat-button (click)="accordion.closeAll()">Collapse All</button>
  </div>
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel *ngFor="let exercise of workout">
      <mat-expansion-panel-header>
        {{exercise.Workout}}
      </mat-expansion-panel-header>
      <div *ngIf="exercise.Demonstration_1" class="img-thumbnail">
        <img [src]="exercise.Demonstration_1">
      </div>
      <div *ngIf="exercise.Demonstration_2" class="img-thumbnail">
        <img [src]="exercise.Demonstration_2">
      </div>
      <div *ngIf="exercise.Demonstration_3" class="img-thumbnail">
        <img [src]="exercise.Demonstration_3">
      </div>
      Main: {{exercise.Main}} <br>
      <div *ngIf="exercise.Detailed">
        Detailed: {{exercise.Detailed}} <br>
      </div>
      Equipment: {{exercise.Equipment}} <br>
      Difficulty: {{exercise.Difficulty}} <br>
      Mechanic: {{exercise.Mechanic}} <br>
      Type: {{exercise.Type}} <br>
      Instructions: {{exercise.Instructions}} <br>
    </mat-expansion-panel>
  </mat-accordion>
</div>



<!-- <mat-tree [dataSource]="nestedDataSource" [treeControl]="nestedTreeControl" class="example-tree">
  <mat-tree-node *matTreeNodeDef="let node">
      <li class="mat-tree-node">
          <button mat-icon-button disabled></button>
          {{node.name}}
      </li>
  </mat-tree-node>

  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasNestedChild">
      <li>
          <div class="mat-tree-node">
              <button mat-icon-button matTreeNodeToggle>
                  <mat-icon class="mat-icon-rtl-mirror">
                      {{nestedTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                  </mat-icon>
              </button>
              {{node.name}}
          </div>
          <ul [class.example-tree-invisible]="!nestedTreeControl.isExpanded(node)">
              <ng-container matTreeNodeOutlet></ng-container>
          </ul>
      </li>
  </mat-nested-tree-node>
</mat-tree> -->