<div *ngIf="waiting">
  <app-timer></app-timer>
</div>


<div *ngIf="!waiting">
  <!-- timer -->

  <div class="base-timer">
    <svg class="base-timer__svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
      <g class="base-timer__circle">
        <circle class="base-timer__path-elapsed" cx="50" cy="50" r="45"></circle>
        <path
          id="base-timer-path-remaining"
          stroke-dasharray="283"
          class="base-timer__path-remaining green"
          d="
            M 50, 50
            m -45, 0
            a 45,45 0 1,0 90,0
            a 45,45 0 1,0 -90,0
          "
        ></path>
      </g>
    </svg>
    <span *ngIf="!done && !first && !waiting" id="base-timer-label" class="base-timer__label">
      {{ formatTimeLeft(this.timeLeft) }}
    </span>
    <span *ngIf="first" id="base-timer-label" class="base-timer__label">
      1:00
    </span>
    <span *ngIf="done" class="base-timer__label">
        Done!
    </span>
  </div>

  <!-- start, pause, resume buttons -->

  <button *ngIf="(done || first) && !rating && !waiting" mat-button (click)="startTimer()">Start!</button>
  <button *ngIf="(done || first) && !rating && !waiting" mat-button (click)="skip()">Skip</button>
  <button *ngIf="!done && !pause && !first && !waiting" mat-button (click)="pauseTimer()">Pause</button>
  <button *ngIf="!done && pause && !first && !waiting" mat-button (click)="resumeTimer()">Resume</button>

  <!-- ratings -->

  <div *ngIf="rating && hiddenWorkout.length != 0">
    <div class="example-action-buttons">
      <button mat-button (click)="accordion.openAll()">Expand All</button>
      <button mat-button (click)="accordion.closeAll()">Collapse All</button>
    </div>
    Rate your exercises!
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel *ngFor="let exercise of hiddenWorkout">
        <mat-expansion-panel-header>
          {{ exercise.Workout }}
          <mat-icon (click)="up(exercise)" class="thumbsup">thumb_up</mat-icon>
          <mat-icon (click)="down(exercise)" class="thumbsdown">thumb_down</mat-icon>
        </mat-expansion-panel-header>
        <div *ngIf="exercise.Demonstration_1" class="img-thumbnail">
          <img [src]="exercise.Demonstration_1" alt="JEFIT error">
        </div>
        <div *ngIf="exercise.Demonstration_2" class="img-thumbnail">
          <img [src]="exercise.Demonstration_2" alt="JEFIT error">
        </div>
        <div *ngIf="exercise.Demonstration_3" class="img-thumbnail">
          <img [src]="exercise.Demonstration_3" alt="JEFIT error">
        </div>
        Main: {{exercise.Main}} <br>
        <div *ngIf="exercise.Detailed">
          Detailed: {{exercise.Detailed}} <br>
        </div>
        Equipment: {{exercise.Equipment}} <br>
        Difficulty: {{exercise.Difficulty}} <br>
        Mechanic: {{exercise.Mechanic}} <br>
        Type: {{exercise.Type}} <br>
        Instructions: {{exercise.Instructions}} <br>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Rate all!
        <mat-icon (click)="globalUp()" class="thumbsup">thumb_up</mat-icon>
        <mat-icon (click)="globalDown()" class="thumbsdown">thumb_down</mat-icon>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion>
  </div>



  <!-- when there's no more ratings -->

  <div *ngIf="rating && hiddenWorkout.length == 0">
    No more Ratings!
  </div>

  <!-- while in the workout -->

  <div *ngIf="progress && !rating">
    <div class="row container">
      {{WIP[0].Workout}}
      <div *ngIf="WIP[0].Demonstration_1" class="col-6">
        <img [src]="WIP[0].Demonstration_1" >
      </div>
      <div *ngIf="WIP[0].Demonstration_2" class="col-6">
        <img [src]="WIP[0].Demonstration_2">
      </div>
      <div *ngIf="WIP[0].Demonstration_3" class="col-6">
        <img [src]="WIP[0].Demonstration_3">
      </div>
    </div>
      <p>Main: {{WIP[0].Main}}</p>
       <br>
      <div *ngIf="WIP[0].Detailed">
        <p>Detailed: {{WIP[0].Detailed}}</p>
      </div>
      <br>
      <p> Equipment: {{WIP[0].Equipment}} </p>
      <br>
      <p>Difficulty: {{WIP[0].Difficulty}} </p>
      <br>
      <p>Mechanic: {{WIP[0].Mechanic}}</p>
      <p>Type: {{WIP[0].Type}}</p>
      <br>
     <p>Instructions: <br> {{WIP[0].Instructions}}</p>
       <br>
  </div>

  <!-- workout preview -->

  <div *ngIf="!progress">
    <div class="example-action-buttons">
      <button mat-button (click)="accordion.openAll()">Expand All</button>
      <button mat-button (click)="accordion.closeAll()">Collapse All</button>
    </div>
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel *ngFor="let exercise of workout">
        <mat-expansion-panel-header>
          {{exercise.Workout}}
        </mat-expansion-panel-header>
      <div class="container row">
        <div *ngIf="exercise.Demonstration_1" class="col-6">
          <img [src]="exercise.Demonstration_1" alt="JEFIT error">
        </div>
        <div *ngIf="exercise.Demonstration_2" class="col-6">
          <img [src]="exercise.Demonstration_2" alt="JEFIT error">
        </div>
        <div *ngIf="exercise.Demonstration_3" class="col-6">
          <img [src]="exercise.Demonstration_3" alt="JEFIT error">
        </div>
      </div>
      <p>Main: {{exercise.Main}}</p>
         <br>
        <div *ngIf="exercise.Detailed">
          <p>Detailed: {{exercise.Detailed}}</p>
        </div>
        <br>
        <p>Equipment: {{exercise.Equipment}}</p>
        <br>
        <p>Difficulty: {{exercise.Difficulty}}</p>
        <br>
        <p>Mechanic: {{exercise.Mechanic}} </p>
        <br>
        <p>Type: {{exercise.Type}} </p>
        <br>
        <p>Instructions: <br> {{exercise.Instructions}}</p>
        <br>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
