<!-- Information of whole page -->
<mat-card>
    <!-- General Para -->
    <mat-card-title id="_general">General</mat-card-title>
    <mat-card-content>
        Due to the sudden shift in the world, many are uneased when faced with a new environment of working at home. While some have difficulties focusing on their task in hand, others are worried and stressed about the well being of their peers. As such, we set out on creating the project “Tempo” which aims to ease the transition to a new workplace. 
        <br><br><br>
        Based on the time management method called “Pomodoro technique”, Tempo is an application that focuses on improving the level of concentration of the user through exercising. Having multiple short bursts of fitness workout alleviate a great amount of stress as well as bringing a change of pace. After all, a good mindset is crucial to working efficiently and productively. 
    </mat-card-content>
    
    <!-- Download Para -->
    <mat-card-title id="_downloadInfo">How to Download</mat-card-title>
    <mat-card-content>
        1.	Click the download link below <br><br>
        2.	Extract the file with WinRAR or 7zip <br><br>
        3.	Launch the application <br><br>
        4.	Register for an account <br><br>
    </mat-card-content>
    
    <!-- Download Link -->
    <a 
    mat-stroked-button
    mat-button color="accent"
    href="http://www.tempoapp.tech/tempo.rar"
    [disableRipple]="true">
    Download
    </a>

    <!-- About Us Para -->
    <mat-card-title id="_aboutUs">About Us</mat-card-title>
    <mat-card-content>
        This project was made by four individuals attending university with an aspiring goal of making a successful start-up. Each one of us has contributed one way or another to ensure the overall success of this project. 
    <br><br><br>
        The project Tempo was made possible through the implementation of the MEAN stack ecosystem consisting of MongoDB, Express.js, AngularJS and Node.js. Furthermore, we also used other modules such as Angular Material which improves the quality of the project. The source code can be found in our GitHub page below.
    </mat-card-content>
    
    <!-- GitHub link button -->
    <a
    href="https://github.com/andyyu8588/tempo">
        <mat-icon
        mat-icon color="accent"
        svgIcon="gitHubIcon">
        </mat-icon>
    </a>
</mat-card>