// Card class of the information
.mat-card{
    //background-color: rgba(255, 245, 251, 0.507);
    //background-color: #ff40801a;
    text-align: center;
}

// Title style
.mat-card-title{
    font-size: 50px;
    padding: 70px;
    margin-bottom: 10px;
    border-style: ridge;
    background-color: #ff40801a;
}

// Paragraph style
.mat-card-content{
    letter-spacing: 1px;
    line-height: 1.5;
    padding: 30px;
    max-width: 600px;
    margin:auto;
    font-size: 20px;
    margin-bottom: 100px;
}

// Download button style
.mat-stroked-button{
    padding:20px;
    border: 2px solid #ff40805a;
    font-size: 50px;
    margin-bottom: 100px;
}